*{
    margin: 0px;
    padding: 0px;
   } 
    body{
        background-color: rgb(26, 26, 26);
        margin: 0px;
        padding: 0px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
}
    
    .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  padding-right: 33px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 3px solid #fb4a36;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  color: #fb4a36;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #fb4a36;
}


.signin {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  -webkit-text-decoration: underline #fb4a36;
          text-decoration: underline #fb4a36;
}

.signin a {
  color: #ed5544;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 25px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color:white;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: white;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form label .input:-moz-placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:-ms-input-placeholder + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color:rgb(180, 178, 178);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input{
  font-size: medium;
}


.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  -webkit-transform: .3s ease;
      -ms-transform: .3s ease;
          transform: .3s ease;
  background-color: #ff3900;
}

.submit:hover {
  background-color: #e94e24;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}



.radio-container {
  margin: 0 auto;
  max-width: 300px;
  color: white;
  display: flex;
  gap: 10px;
}

.radio-wrapper {
  margin-bottom: 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button:hover {
  transform: translateY(-2px);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3900;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 16px;
  font-weight: 600;
}






.container{
 margin-top: 30px;
 display: flex;
 align-items: center;
 justify-content: center;

}

.message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

      #alertbox{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: red;
        padding: 5px;
        margin: 5px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
      }

      .button{
        transition: all 0.3s;
    }
    
    .button:hover{
        transform: scale(1.1);
    }      
    